/* #date{
    width: 100%;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
#phone{
    width: 100%;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
#password{
    width: 100%;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
#password-repeat{
    width: 100%;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
.box-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-left, .input-right{
    display: flex;
    flex-direction: row;
}
.input-container-employee{
    width: 50%;
}
.my-form-sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-form-sign-up input[type="text"]{
    width: 100%;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
.my-form-sign-up label{
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #373867;
}
 */
form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: center;
}
.inputs-employee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    padding-left: 10px;
}
.inputs-employee div {
    width: 90%;
}
.box-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
}
input[type=text], input[type=password], select, input[type=date] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #373867;
    border-radius: 4px;

}
label, select {
    color: #373867;
    font-size: 14px;
    font-weight: bold;
}
.button-sign-up{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #373867;
    font-weight: bold;
    background-color: #aac39b;
}
@media only screen and (min-width:480px) {
    .inputs-employee {
        justify-content: space-between;
    }
    .inputs-employee div {
        width: 48%
    }
    select, input[type=text], input[type=password] {
        width: 100%;
    }
}
@media only screen and (min-width:1023px){
    .inputs-employee{
        margin-left: 150px;
    }
}