<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    <aside class="sidebar">
        <img src="../assets/logo.png" alt="logo.png">
        <div class="container">
            <nav>
                <div class="nav-container">
                    <i class="fa-solid fa-house-chimney"></i>
                    <a href="#"><p>Home</p></a>
                </div>
                <div class="nav-container">
                    <i class="fa-solid fa-user"></i>
                    <a href="#"><p>Login</p></a>
                </div>
            </nav>
        </div>
    </aside>
    <div class="father">
        <header id="header-login">
            <div id="header-login-container">
                <h1>Login</h1>
            </div>
        </header>
        <div class="container-login">
            <main>
                <form class="my-form-login">
                    <div>
                        <label>E-mail</label>
                        <input type="text" placeholder="Your e-mail here">
                        <label>Password</label>
                        <input type="text" placeholder="Your password here">
                    </div>
                    <div class="button-login-container">
                        <button type="submit" class="button-login">Login</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>