form h2{
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 10px #d9d9d9 solid;
}
.my-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.my-form input[type="text"]{
    width: 320px;
    height: 30px;
    border-color: #373867;
    border-radius: 5px;
}
.my-form textarea{
    width: 320px;
    height: 50px;
    border-color: #373867;
    border-radius: 5px;
}
.my-form label{
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #373867;
}
.my-form select{
    margin-top: 5px;
    width: 325px;
    height: 34px;
    border-color: #373867;
    border-radius: 5px;
}
.buttons{
    margin-top: 02%;
    display: flex;
    justify-content: space-evenly;
}
.button-one, .button-two{
    border: none;
    border-radius: 3px;
    color: #373867;
    font-weight: bold;
}
.button-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 140px;
    height: 30px;
    background-color: #aac39b;
}
.button-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #f13312;
}
@media screen and (min-width: 768px){
.my-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.my-form label{
    align-items: flex-start;
}
.my-form select{
    align-self: flex-start;
    margin-top: 27px;
}
.my-form textarea{
    width: 218%;
    height: 80px;
    justify-content: flex-end;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
} 
.button-one{
    margin-left: 04%;
}
.button-two{
    margin-right: 04%;
}
}
@media screen and (min-width: 1024px){
.my-form textarea{
    width: 259%;
}
.button-one{
    margin-left: 9%;
}
.button-two{
    margin-right: 9%;
}
}