header{
    display: flex;
    background-image: url(../assets/imagen-header.png);
    color: #ffffff;
    height: 500px;
    width: 100%;
}
header i{
    margin-top: 8%;
    margin-left: 5%;
    font-size: 20px;
}
.header-background{
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 60%;
}
.header-title{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
.text-container{
    padding-left: 10px;
}
.header-title h2{
    padding-top: 5%;
}
.header-text{
    padding-top: 10%;
}
.header-text p{
    margin-top: 5%;
}
header h1{
    font-size: 35px;
    font-weight: 700;
    border-bottom: 2px solid #aace9b;
}
header h2{
    font-size: 20px;
    font-weight: 700;
}
@media screen and (min-width: 768px){
header h1{
    font-size: 40px;
}
}
@media screen and (min-width: 1024px){
header{
    height: 900px;
}
header i{
    display: none;
}
.header-background{
    width: 40%;
    margin-left: 15%;
}
.text-container{
    padding-top: 20%;
}
.header-text{
    line-height: 30px;
}
}


