header{
    display: flex;
    background-image: url(../assets/imagen-header.png);
    color: #ffffff;
    background-size: cover;
}
header i{
    margin-top: 8%;
    margin-left: 2%;
    color: #f13312;
    font-size: 20px;
    position: fixed;
}
.header-background{
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 60%;
    margin-bottom: 10%;
}
.header-title{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
.text-container{
    padding-left: 10px;
}
.header-text{
    padding-top: 10%;
}
.header-text p{
    margin-top: 5%;
}
@media screen and (min-width: 1024px){
    header i{
        display: none;
    }
    .header-background{
        width: 40%;
        margin-left: 25%;
    }
    .text-container{
        padding-top: 10%;
    }
    .header-text{
        line-height: 30px;
    }
}


