/* @media screen and (min-width: 480px){
    
}  */
*{
    /* margin:0; */
}
header{
    background-image: url(../assets/imagen-header.png);
    color: #ffffff;
    height: 500px;
}
.header-background{
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 60%;
}
.header-text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
header h1{
    font-size: 40px; 
    font-weight: 700;
    border-bottom: 2px solid #aace9b;
}
header h2{
    font-size: 20px;
    font-weight: 700;
}


