.lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    margin-top: 10px;
    color: #373867;
    background-image: url(../assets/list-picture.png);
}
.lists a{
    color: #373867;
}
.lists ol{
    font-size: 13px;
    padding: 15px
}
.lists a:hover{
    color: #f13312;
}
@media screen and (min-width: 480px){
    .lists h4{
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px){
    .lists h4{
        font-size: 20px;
    }
}