*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.father{
    display: flex;
}
aside a:hover{
    color: #373867;
}
i:hover{
    color: #f13312;
}
main a:hover{
    color: #f13312;
}
a{
    text-decoration: none;
}
a:visited{
    color: #373867;
}
@media screen and (min-width: 1024px){
main, form, footer{
    margin-left: 150px;
}
aside a:hover{
    color: #373867;
}
}