/* PARA TODO EL HTML */

body {
    font-family: 'Roboto', sans-serif;
}
header  {
    width: 1288px;
    height: 982px;
    background-image: url(../assets/imagen-header.png);
    background-repeat: no-repeat;
}
.header-background  {
    background: rgba(0, 0, 0, 0.6);
    width: 481px;
    height: 981px;
    margin-left: 76px;
   
}
.header-title   {
    border-bottom: 2px solid #aace9b;
    width: 452px;
}

.header-text    {
    width: 366px;
    padding-top: 170px;
    padding-left: 22px; 
    line-height: 30px;
    color: white;
    text-align: left;
    
}
.header-text-1  {
    padding-top: 30px;
}

h1  {
    font: size 40px; 
    font-weight: 700;
}

h2  {
    font-size: 20px;
    font-weight: bold;
}

h3  {
    font-size: 30px;
}

.box-1  {
    color: #373867;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.box-2  {
    color: #49a37b;
    font-size: 18px;
    font-weight: lighter;
}
.section-choose h2  {
font: size 30px;    
}
.section-choose {    
    font-size: 30px;
}
.choose-us-1y3  {

}

.choose-us-2y4  {
    background-color: #d9d9d9;
}



footer  {   
    background-color: #aace9b;
}