/* PARA TODO EL HTML */

*   {
    font-family: 'Roboto', sans-serif;
}

h1  {
    font: size 40px; 
    font-weight: 700;
}

h2  {
    font-size: 30px;
    font-weight: bold;
}

h3  {
    font-size: 30px;
}
.We-are p   {
    font-size: 20px;
    line-height: 30px;
}
.box-1  {
    color: #373867;
}
.box-2  {
    color: #49a37b;
}
.section-choose h2  {
font: size 30px;    
}
.section-choose {
    font-size: 30px;
}
.elegirnos-1y3  {

}

.elegirnos-2y4  {
    background-color: #d9d9d9;
}



footer  {   
    background-color: #aace9b;
}